body {
/*  background-color: #B8306A;*/
  background: #ccc;
  color: #333;
  margin: 0;
}

body, p, ol, ul, td {
  font-family: sans-serif;
}

header {
  background: #333;
  color: #ccc;
  padding-top: 12px;
}

header h2 {
  margin: 0;
}

header a {
  color: #ccf;
  text-decoration: none;
}
header a:hover {
  text-decoration: underline;
}

.guess_headline {
  font-size: 45px;
  font-family: 'Special Elite', sans-serif;
  padding: 18px;
  border: 3px solid #333;
  margin: 2px;
/*  background: url(/images/leopardskin.gif);*/
background: #fdfddd;
}

#mainContent {
  background: #fff;
  padding-bottom: 140px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

#user_nav {
  text-align: right;
}

#notice {
  color: green;
  background: #efe;
  border: 1px solid green;
  margin-top: 10px;
  padding: 6px;
  font-size: 22px;
}

button {
  cursor: pointer;
}