<div class="grid_12">
<h1>
  <%= @user.twitter_name %>
</h1>

<p>
  <b>Url:</b>
  <%= link_to @user.url, @user.url %>
</p>

<p>
  <b>Number of games played:</b>
  <%= @user.plays.count %>
</p>

<p>
  <b>Number of games won:</b>
  <%= @user.plays.where(:won => true).count %>
</p>

</div>